<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BtC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BtC.Properties.Settings>
            <setting name="ONE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TWO" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="THREE" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FOUR" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FIVE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SIX" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SEVEN" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="EIGHT" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AutoCon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastConCOM" serializeAs="String">
                <value />
            </setting>
        </BtC.Properties.Settings>
    </userSettings>
</configuration>