<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BtC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BtC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BtC.Properties.Settings>
            <setting name="ONE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TWO" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="THREE" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FOUR" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FIVE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SIX" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SEVEN" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="EIGHT" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AutoCon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastConCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="ONE_ON" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="TWO_ON" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="THREE_ON" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="FOUR_ON" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="FIVE_ON" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="SIX_ON" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="SEVEN_ON" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="EIGHT_ON" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="ONE_OFF" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="TWO_OFF" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="THREE_OFF" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="FOUR_OFF" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="FIVE_OFF" serializeAs="String">
                <value>e</value>
            </setting>
            <setting name="SIX_OFF" serializeAs="String">
                <value>f</value>
            </setting>
            <setting name="SEVEN_OFF" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="EIGHT_OFF" serializeAs="String">
                <value>h</value>
            </setting>
        </BtC.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BtC.Properties.Settings>
            <setting name="DarkBackOFF" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="DarkText" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ONColor" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="DarkWindow" serializeAs="String">
                <value>12, 12, 12</value>
            </setting>
            <setting name="ONBorder" serializeAs="String">
                <value>0, 150, 0</value>
            </setting>
            <setting name="OFFBorder" serializeAs="String">
                <value>Gray</value>
            </setting>
        </BtC.Properties.Settings>
    </applicationSettings>
</configuration>